@import url("/css/src.css");

:root {
  /* Light Mode */
  --bg-color: var(--lavender-blush);
  --container-bg: white;

  --button-review: var(--bright-pink-crayola-2);
  --button-review-border: rgb(253, 110, 136);
  --button-review-txt-color: white;
  --button-report: rgb(252, 206, 214);
  --button-report-border: rgb(248, 195, 205);

  --button-hover: var(--bright-pink-crayola);
  --button-border-hover: var(--eerie-black);
}

/* Dark Mode */
[data-theme="dark"] {
  --bg-color: var(--eerie-black);
  --container-bg: var(--onyx);

  --button-review: var(--rose-red);
  --button-review-border: rgb(160, 18, 58);
  --button-report: var(--chocolate-cosmos);
  --button-report-border: rgb(77, 12, 30);
  --button-report-txt-color: white;

  --button-border-hover: white;
}

.post-history-header {
  display: block;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.history-filter {
  display: flex;
  align-items: center;
  width: 100%;
}
/* Page Title */
.page-title {
  width: 100%;
  font-size: 2.25rem;
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  color: #e91e63;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-bottom: 1rem;
}

.page-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 150px;
  height: 4px;
  background: linear-gradient(to right, #e91e63, transparent);
  border-radius: 4px;
}

.page-title svg {
  margin-right: 0.75rem;
}

.top {
  margin-bottom: 1rem;
}

.pageContainer {
  background-color: var(-bg-color);
  /* padding: 100px 100px 60px 55px; */
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 100%;
}

.noContent {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  margin: 5px;
  align-self: center;
  width: 90%;
  font-size: 1.3rem;
}

.displayIcon {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.displayIcon p {
  font-size: 1rem;
}

.activityIcon svg {
  display: flex;
}

.containerStyle {
  background-color: var(--container-bg);
  border-radius: 0.5rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  margin: 5px;
  align-self: center;
  width: 90%;
}

.innerContainer {
  width: 98.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.indicator {
  border-radius: 0.5rem 0 0 0.5rem;
  width: 1rem;
  min-width: 1rem;
}

.indicator.finish {
  background-color: var(--honolulu-blue);
}

.indicator.accept {
  background-color: var(--mint-green);
}

.indicator.pending {
  background-color: var(--mustard);
}

.indicator.reject {
  background-color: var(--light-coral);
}

.contentStyle {
  /* background-color: lightblue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  width: 100%;
  min-width: 300px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}

.contentStyle p {
  color: var(--slate-gray);
}

.activityTitle {
  a {
    color: var(--text-color);
  }
  transition: transform 0.4s ease;
  font-size: 1.5rem;
}

.activityTitle:hover {
  transform: scale(1.01);
}

.activityTagContainer {
  /* background-color: aqua; */
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  height: fit-content;
  padding-top: 6px;
  margin-bottom: 1.1rem;
  gap: 6px;
}

.activityTag {
  background-color: var(--button-report);
  border-color: var(--button-report-border) !important;
  border: solid 1.7px;
  padding: 0.4rem;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  /* cursor: pointer; */
}

/* .activityTag:hover {
  transform: scale(1.05);
  background-color: var(--button-hover) !important;
  border-color: var(--button-border-hover) !important;
}

.activityTag:active {
  transform: scale(0.98);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
} */

.statusContainer {
  /* background-color: lightgreen; */
  padding: 1rem;
  gap: 1.5rem;
  display: flex;
  align-items: center;
  width: fit-content;
  /* min-width: 350px; */
  justify-content: flex-end;
}

.textStyle {
  font-size: 1.3rem;
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.buttonStyle {
  border: solid 2px;
  border-radius: 8px;
  width: 6.6rem;
  min-width: fit-content;
  height: 3.2rem;
  font-size: 1.2rem;
  padding: 0.6rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.buttonStyle:hover {
  transform: scale(1.05);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
}

.buttonStyle.review {
  background-color: var(--button-review) !important;
  border-color: var(--button-review-border) !important;
  color: var(--button-review-txt-color);
}

.buttonStyle.report {
  background-color: var(--button-report) !important;
  border-color: var(--button-report-border) !important;
  color: var(--button-report-txt-color);
}

.buttonStyle.review:hover,
.buttonStyle.report:hover {
  background-color: var(--button-hover) !important;
  border-color: var(--button-border-hover) !important;
}

.buttonStyle:active {
  transform: scale(0.98);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.no-post {
  padding: 0;
  font-size: 1rem;
  text-align: left;
  width: 100%;
}

@media (max-width: 768px) {
  .page-title {
    font-size: 1.75rem;
  }
  .top {
    font-size: 1.7rem;
  }

  .pageContainer {
    /* padding: 90px 30px 30px 30px; */
    gap: 0.5rem;
  }

  .containerStyle {
    min-width: 300px;
  }

  .contentStyle {
    width: 100%;
    min-width: 200px;
    font-size: 0.8rem;
  }

  .contentStyle h2 {
    width: 100%;
  }

  .activityTagContainer {
    width: 100%;
    min-width: 200px;
    font-size: 0.7rem;
  }

  .statusContainer {
    width: 100%;
    min-width: 200px;
    padding: 0.4rem;
    justify-content: space-between;
  }

  .buttonContainer {
    width: 100%;
    justify-content: flex-end;
  }

  .buttonStyle {
    width: fit-content;
    min-width: 60px;
    height: fit-content;
    font-size: 0.9rem;
    padding: 0.4rem;
  }

  .textStyle {
    font-size: 1.2rem;
  }
}
