@import url("/css/src.css");

:root {
  /* Light Mode */
  --bg-color: var(--lavender-blush);
  --container-bg: white;

  --button-review: var(--bright-pink-crayola-2);
  --button-review-border: rgb(253, 110, 136);
  --button-review-txt-color: white;
  --button-report: rgb(252, 206, 214);
  --button-report-border: rgb(248, 195, 205);

  --button-hover: var(--bright-pink-crayola);
  --button-border-hover: var(--eerie-black);
  --slider-on: var(--salmon-pink);
}

/* Dark Mode */
[data-theme="dark"] {
  --bg-color: var(--eerie-black);
  --container-bg: var(--onyx);

  --button-review: var(--rose-red);
  --button-review-border: rgb(160, 18, 58);
  --button-report: var(--chocolate-cosmos);
  --button-report-border: rgb(77, 12, 30);
  --button-report-txt-color: white;

  --button-border-hover: white;
  --slider-on: rgb(231, 26, 84);
}

.top {
  margin-bottom: 1rem;
}

.pageContainer {
  background-color: var(-bg-color);
  padding: 100px 100px 60px 55px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.displayIcon {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.activityIcon svg {
  display: flex;
}

.containerStyle {
  background-color: var(--container-bg);
  border-radius: 0.5rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  margin: 5px;
  align-self: center;
  width: 90%;
}

.innerContainer {
  width: 98.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}

.indicator {
  border-radius: 0.5rem 0 0 0.5rem;
  width: 1rem;
  min-width: 1rem;
}

.indicator.onGoing {
  background-color: var(--mustard);
}

.indicator.future {
  background-color: var(--mustard);
}

.indicator.activityDone {
  background-color: var(--honolulu-blue);
}

.contentStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  width: 100%;
  min-width: 300px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}

.contentStyle p {
  color: var(--slate-gray);
}

.activityTitle{
  a{color: var(--text-color);}
  transition: transform 0.4s ease;
}

.activityTitle:hover{
  transform: scale(1.01);
}

.activityTagContainer {
  /* background-color: aquamarine; */
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: fit-content;
  padding-top: 6px;
  margin-bottom: 1.1rem;
  gap: 6px;
}

.activityTag {
  background-color: var(--button-report);
  border-color: var(--button-report-border) !important;
  border: solid 1.7px;
  padding: 0.4rem;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
  text-align: center;
  /* cursor: pointer; */
}

/* .activityTag:hover {
  transform: scale(1.05);
  background-color: var(--button-hover) !important;
  border-color: var(--button-border-hover) !important;
}

.activityTag:active {
  transform: scale(0.98);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
} */

.statusContainer {
  /* background-color: aqua; */
  padding: 0rem 1rem;
  gap: 1.5rem;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-left: auto;
}

.textStyle {
  font-size: 1.4rem;
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 5px;
}

.buttonStyle {
  border: solid 2px;
  border-radius: 8px;
  width: 6.6rem;
  min-width: fit-content;
  height: 3.2rem;
  font-size: 1.3rem;
  padding: 0.6rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
  color: var(--eerie-black);
}

.buttonStyle:hover {
  transform: scale(1.05);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
}

.buttonStyle.view {
  background-color: var(--button-review) !important;
  border-color: var(--button-review-border) !important;
  color: var(--button-review-txt-color);
}

.buttonStyle.report {
  background-color: var(--button-report) !important;
  border-color: var(--button-report-border) !important;
  color: var(--button-report-txt-color);
}

.buttonStyle.view:hover,
.buttonStyle.report:hover {
  background-color: var(--button-hover) !important;
  border-color: var(--button-border-hover) !important;
}

.buttonStyle:active {
  transform: scale(0.98);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.switchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.switchText {
  font-size: 1.2rem;
}

.activitySwitch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.activitySwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.activitySlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--french-gray);
  border-radius: 34px;
  transition: 0.4s;
}

.activitySlider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .activitySlider {
  background-color: var(--slider-on);
}

input:focus + .activitySlider {
  box-shadow: 0 0 3px var(--salmon-pink);
}

input:checked + .activitySlider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

@media (max-width: 768px) {
  .top {
    font-size: 1.7rem;
  }

  .pageContainer {
    padding: 90px 30px 30px 30px;
    gap: 0.5rem;
  }

  .containerStyle {
    min-width: 300px;
  }

  .contentStyle {
    width: 100%;
    min-width: 200px;
    font-size: 0.8rem;
  }

  .contentStyle h2 {
    width: 100%;
  }

  .activityTagContainer {
    width: 100%;
    min-width: 200px;
    font-size: 0.7rem;
  }

  .statusContainer {
    width: 100%;
    min-width: 200px;
    padding: 0.4rem;
    /* align-items: flex-start; */
    /* gap: 1rem; */
    /* align-items: center; */
    justify-content: space-between;
  }

  .buttonContainer {
    width: 100%;
    justify-content: flex-end;
    width: fit-content;
    margin-top: 0.5rem;
  }

  .buttonStyle {
    width: 1.5rem;
    min-width: 60px;
    height: fit-content;
    font-size: 0.9rem;
    padding: 0.4rem;
  }

  .textStyle {
    font-size: 1.2rem;
  }

  .switchContainer {
    /* background-color: aquamarine; */
    width: 3.7rem;
  }

  .switchText {
    font-size: 0.9rem;
  }

  .activitySwitch {
    width: 45px;
    height: 24px;
  }

  .activitySlider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }

  input:checked + .activitySlider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
  }
}
