@import url("/css/src.css");

.top {
  margin-bottom: 1rem;
}

.pageContainer {
  background-color: var(--lavender-blush);
  padding: 100px 100px 60px 100px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.displayIcon {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.containerStyle {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  margin: 5px;
  align-self: center;
  width: 90%;
}

.innerContainer {
  width: 98.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}

.indicator {
  border-radius: 0.5rem 0 0 0.5rem;
  width: 1rem;
}

.indicator.onGoing {
  background-color: var(--sky-blue);
}

.indicator.done {
  background-color: var(--deep-fern-green);
}

.indicator.cancel {
  background-color: var(--sea-pink);
}

.contentStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  width: 40%;
  min-width: 300px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}

.statusContainer {
  /* background-color: lightblue; */
  padding: 0rem 1rem;
  gap: 1.5rem;
  display: flex;
  align-items: center;
  width: 25vw;
  min-width: 350px;
  justify-content: flex-end;
}

.textStyle {
  font-size: 1.4rem;
  font-weight: bold;
}

.buttonContainer {
  /* background-color: purple; */
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 5px;
}

.buttonStyle {
  border: solid 2px;
  border-radius: 8px;
  width: 6.6rem;
  min-width: fit-content;
  height: 3.2rem;
  font-size: 1.3rem;
  padding: 0.6rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
  color: var(--eerie-black);
}

.buttonStyle:hover {
  transform: translateY(-3px);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
}

.buttonStyle.report {
  background-color: rgb(255, 233, 242) !important;
  border-color: rgb(255, 228, 238) !important;
}

.buttonStyle.view {
  background-color: var(--bright-pink-crayola-2) !important;
  border-color: rgb(253, 110, 136) !important;
  color: white;
}

.buttonStyle.report:hover {
  background-color: var(--carnation-pink) !important;
  border-color: var(--fairy-tale) !important;
}

.buttonStyle.view:hover {
  background-color: var(--bright-pink-crayola) !important;
  border-color: var(--carnation-pink) !important;
}

.buttonStyle:active {
  transform: scale(0.98);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.switchContainer {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.switchText {
  font-size: 1.2rem;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--french-gray);
  border-radius: 34px;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--salmon-pink);
}
input:focus + .slider {
  box-shadow: 0 0 3px var(--salmon-pink);
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

@media (max-width: 768px) {
  .top {
    /* width: fit-content; */
    /* margin-left: 0.2rem; */
    font-size: 1.7rem;
  }

  .pageContainer {
    padding: 90px 30px 30px 30px;
  }

  .containerStyle {
    min-width: 300px;
  }

  .contentStyle {
    /* background-color: aqua; */
    width: 100%;
    min-width: 200px;
    font-size: 0.8rem;
    /* flex-wrap: wrap; */
  }
  .contentStyle h2 {
    /* background-color: pink; */
    width: 100%;
  }

  .statusContainer {
    /* background-color: lightsalmon; */
    width: 100%;
    min-width: 200px;
    padding: 0.4rem;
    align-items: flex-start;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
  }

  .buttonContainer {
    /* background-color: aqua; */
    width: 100%;
    justify-content: flex-end;
    width: fit-content;
    margin-top: 0.5rem;
    /* justify-content: space-between; */
  }

  .buttonStyle {
    width: 1.5rem;
    min-width: 60px;
    height: fit-content;
    font-size: 0.9rem;
    /* height: 3.2rem; */
    padding: 0.4rem;
  }

  .textStyle {
    font-size: 1.2rem;
  }

  .switchContainer {
    /* background-color: aquamarine; */
    width: 3.7rem;
  }
  .switchText {
    font-size: 0.9rem;
  }
  .switch {
    width: 45px;
    height: 24px;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
  }
}
