@import url("/css/src.css");

:root {
    --signup-bg: var(--seasalt);
    --signup-text: var(--outer-space);
    --signup-input-bg: var(--antiflash-white);
    --signup-border: var(--french-gray);
    --signup-submit-color: var(--bright-pink-crayola);
    --signup-submit-hover: var(--bright-pink-crayola-2);
    --signup-input-text: var(--outer-space);

    --signup-google-bg: var(--seasalt);
    --signup-google-border: var(--french-gray);
    --signup-google-hover-bg: var(--antiflash-white);
}

[data-theme="dark"] {
    --signup-bg: var(--eerie-black);
    --signup-text: var(--seasalt);
    --signup-input-bg: var(--onyx);
    --signup-border: var(--outer-space);
    --signup-submit-color: var(--amaranth-purple);
    --signup-submit-hover: var(--rose-red);
    --signup-input-text: var(--french-gray);

    --signup-google-bg: var(--outer-space);
    --signup-google-text: var(--seasalt);
    --signup-google-border: var(--slate-gray);
    --signup-google-hover-bg: var(--onyx);
}


.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: var(--bg-image);
}

.signup-container {
    display: flex;
    flex-direction: column;
    background: var(--signup-bg);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 80%;
    max-width: 800px;
    text-align: center;
    overflow-y: auto;
}
.signup-title {
    font-size: 2.3rem;
    margin-bottom: 1rem;
}

.signup-realname,
.signup-username,
.signup-email,
.signup-password,
.signup-confirm-password {
    margin-bottom: 1rem;
    text-align: left;
}

.signup-realname input,
.signup-username input,
.signup-email input,
.signup-password input,
.signup-confirm-password input {
    font-size: 1rem;
    color: var(--signup-input-text);
}
.signup-realname {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}
.signup-content .label {
    font-size: 1.2rem;
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.inputBox {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid var(--signup-border);
    border-radius: 5px;
    background: var(--signup-input-bg);
    color: var(--text-color);
}
.inputWrapper .inputBox {
    padding-right: 3.2rem;
}

.toggle-password {
    position: absolute;
    right: 15px;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
}
.toggle-password i {
    font-size: 0.8;
    color: var(--text-color);
}

.signup-button {
    margin-bottom: 1rem;
    width: 100%;
    padding: 1rem;
    background: var(--signup-submit-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}
.signup-button:hover {
    background: var(--signup-submit-hover);
}

.signup-google-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
    background: var(--signup-google-bg);
    color: var(--signup-google-text);
    border: 1px solid var(--signup-google-border);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    transition: background 0.3s ease, border-color 0.3s ease;
}
.signup-google-link:hover {
    background: var(--signup-google-hover-bg);
    border-color: var(--rose-red);
}

.signup-login-container {
    display: flex;
    justify-content: center;
}
.signup-login-link {
    color: var(--signup-submit-color);
}

/* Media Queries สำหรับหน้าจอเล็ก */
@media (max-width: 768px) {
    .main {
        justify-content: flex-end;
    }
    .signup-container {
        padding: 1.5rem;
        padding: 1rem; 
        width: 100%;
        height: 90%;
    }
    .signup-title {
        font-size: 1.9rem; 
    }

    .inputBox {
        font-size: 1rem; /* ลดขนาดตัวอักษรในกล่องกรอกข้อมูล */
    }

    .signup-container {
        padding: 1.5rem; /* ลดระยะห่างภายในฟอร์ม */
        max-width: 500px; /* ขนาดฟอร์มให้เหมาะสมกับหน้าจอเล็ก */
    }

    .signup-button {
        font-size: 1rem; /* ลดขนาดฟอนต์ในปุ่ม */
    }

    .signup-signup-container {
        margin-top: 3rem; /* ขยับลิงก์สมัครสมาชิก */
    }

    .signup-google-link {
        font-size: 1rem; /* ลดขนาดฟอนต์ในปุ่ม Google */
    }
}

/* สำหรับหน้าจอมือถือ */
@media (max-width: 480px) {

    .inputBox {
        font-size: 0.9rem; /* ลดขนาดตัวอักษรในกล่องกรอกข้อมูล */
    }

    .signup-title {
        font-size: 1.6rem; /* ลดขนาดฟอนต์สำหรับชื่อฟอร์ม */
    }

    .signup-button {
        padding: 0.8rem; /* ปรับขนาดปุ่ม */
        font-size: 1rem; /* ลดขนาดฟอนต์ */
    }

    .signup-google-link {
        font-size: 1rem; /* ปรับขนาดฟอนต์ของลิงก์ Google */
    }

    .toggle-password i {
        font-size: 1.2rem; /* ปรับขนาดไอคอน */
    }
}