:root {
    /* Red */
    --darker-red: #590d22ff;    /* --chocolate-cosmos */
    --dark-red: #800f2fff;      /* --claret */
    --normal-red: #a4133cff;    /* --amaranth-purple */
    --bright-red: #c9184aff;    /* --rose-red */

    /* Pink */
    --brighter-pink: #ff4d6dff; /* --bright-pink-crayola */
    --bright-pink: #ff758fff;   /* --bright-pink-crayola-2 */
    --normal-pink: #ff8fa3ff;   /* --salmon-pink */
    --light-pink: #ffb3c1ff;    /* --cherry-blossom-pink */
    --lighter-pink: #ffccd5ff;  /* --pink */
    --lightest-pink: #fff0f3ff; /* --lavender-blush */

    /* White */
    --normal-white: white;      /* white */      
    --dark-white: #f8f9faff;    /* --seasalt */
    --darker-white: #e9ecefff;  /* --antiflash-white */

    /* Gray */
    --lightest-gray: #dee2e6ff; /* --platinum */
    --lighter-gray: #ced4daff;  /* --french-gray */
    --light-gray: #adb5bdff;    /* --french-gray-2 */
    --normal-gray: #6c757dff;   /* --slate-gray */
    --dark-gray: #495057ff;     /* --outer-space */
    --darker-gray: #343a40ff;   /* --onyx */

    /* Black */
    --light-black: #212529ff;   /* --eerie-black */
    --normal-black: black;      /* black */    

    /* เพิ่ม white black */

    /*  --br     = bright
        --brt    = brighter
        --brts   = brightest

        --l     = light
        --lt    = lighter
        --lts   = lightest
        
        --d     = dark
        --dk    = darker
        --dks   = darkest
        
        --n     = normal
        
        -r      = red
        -p      = pink
        -w      = white
        -g      = gray
        -bl     = black

        ข้างหน้าคือ light mode ข้างหลังคือ dark mode */

    --sky-blue: #8ac3f8;
    --mint-green: #65c09d;
    --deep-fern-green: #3f6b50;
    --sea-pink: #d17a74;
}