/* html {
  font-size: 14px;
} */

/* @media (min-width: 768px) {
  html {
    font-size: 16px;
  }
} */

/* .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
} */

/* button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
} */


/* html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.main {
  padding-top: 60px;
}

.footer-container {
  position: absolute;
  white-space: nowrap;
  bottom: 0;
  width: 100%;
  line-height: 60px;
  padding-left: 30px;
  border-top: 1px solid #e5e5e5;
} */


@import url('src.css');
/* 1. Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
  text-decoration: none;
}

html, body {
  height: 100%;
  color: var(--text-color);
  background: var(--bg-color);
  background-repeat: no-repeat;
}

.preload * {
  transition: none !important;
}

/* body {
  display: flex;
  flex-direction: column;
} */

.main {
  flex: 1;
  padding-top: 60px;
  width: 100%;
  min-height: 100%;
  background: var(--bg-color);
}

.hide-content{
  display: none;
}

/* .footer-container {
  position: relative;
  width: 100%;
  line-height: 60px;
  padding-left: 30px;
  border-top: 1px solid #e5e5e5;
} */  



.sakura-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.sakura-petal {
    position: absolute;
    width: 20px;
    height: 20px;
    background: radial-gradient(circle, pink, #ff69b4);
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
    animation: sakuraMotion linear infinite;
}

@keyframes sakuraMotion {
    0% { 
        transform: translateY(-10vh) translateX(0) rotate(0deg) rotateY(0deg);
        opacity: 1;
    }
    25% { 
        transform: translateY(25vh) translateX(30px) rotate(90deg) rotateY(90deg);
    }
    50% { 
        transform: translateY(50vh) translateX(-30px) rotate(180deg) rotateY(180deg);
    }
    75% { 
        transform: translateY(75vh) translateX(30px) rotate(270deg) rotateY(270deg);
    }
    100% { 
        transform: translateY(100vh) translateX(-30px) rotate(360deg) rotateY(360deg);
        opacity: 0;
    }
}