:root {
    --report-choice-bg: var(--cherry-blossom-pink);
    --report-choice-hover-bg: var(--bright-pink-crayola-2);
    --cancel-button-bg: var(--cherry-blossom-pink);
    --report-button-bg: var(--amaranth-purple);
    --text-area-bg: white;
    --text-area-border: var(--rose-red);
}

[data-theme="dark"] {
    --report-choice-bg: var(--claret);
    --report-choice-hover-bg: var(--rose-red);
    --cancel-button-bg: var(--outer-sapce);
    --report-button-bg: var(--rose-red);
    --text-area-bg: var(--outer-space);
    --text-area-border: var(--french-gray);
}
* {
    outline: none;
}

.report-all {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 3.5rem; 
    border-radius: 10px;
    background-color: var(--post-bg);
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 1000px;
}

.report-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 1rem;
}

.report-container {
    display: flex;
    gap: 2rem;
    font-size: 1rem;
}

.report-img-container {
    /* flex: 1;  */
    /* max-width: 280px; */
    min-width: 200px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px var(--text-color);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    border: 1px solid var(--text-color);
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210911/pngtree-xiaguang-daytime-rape-flower-mountain-no-photography-picture-with-picture-image_851488.jpg");
}

.img-profile {
    position: absolute;
    width: 4rem;
    height: 4rem;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid var(--text-color);
    border-radius: 50%;
    object-fit: cover;
}

.img-username {
    /* background: rgba(0, 0, 0, 0.6); */
    /* color: var(--text-color); */
    background-color: var(--navbar-bg);
    color: var(--navbar-text);
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    border-top: 1px solid var(--text-color);
    padding: 0.8rem;
    width: 100%;
}

.report-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 2;
}
.report-checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.report-checkbox {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.8rem;
}

.report-choice {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--report-choice-bg);
    padding: 0.8rem;
    border-radius: 8px;
    font-size: 0.9rem;
    border: none;
    color: var(--text-color);
    transition: all 0.2s ease-in-out;
}

.report-choice:hover {
    cursor: pointer;
    background-color: var(--report-choice-hover-bg);
}

.report-active {
    background-color: var(--report-choice-hover-bg);
    color: var(--hover-text);
}

textarea {
    width: 100%;
    resize: none;
    border-radius: 5px;
    max-height: 120px;
    padding: 0.8rem;
    font-size: 0.9rem;
    color: var(--text-color);
    background-color: var(--text-area-bg);
    border: 1px solid var(--text-area-border);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.report-btn-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 1rem;
}
button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 8px 20px;
    font-size: 0.8rem;
    border-radius: 5px;
    border: 1px solid var(--search-border);
    transition: 0.2s ease-in-out;
    color: var(--text-color);
}
#report-btn {
    background-color: var(--report-button-bg);
    color: white;
}
#cancel-btn {
    background-color: var(--cancel-button-bg);
    /* color: var(--text-color); */
}

/* Responsive */
@media (max-width: 768px) {
    .report-all {
        width: 100%;
        height: 100%;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .report-container {
        flex-direction: column;
        align-items: center;
    }

    .report-img-container {
        width: 100%;
        /* align-self: center; */
        /* height: 180px; */
        min-height: 160px;
        /* max-width: 100%; */
        /* text-align: flex-end; */
    }

    .img-profile {
        /* width: 4.5rem; */
        height: 4rem;
    }
    .img-username {
        padding: 1.1rem 0.2rem 0.7rem;
    }

    .report-checkbox-container {
        gap: 1rem;
    }

    .report-checkbox {
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
    }

    textarea {
        max-height: 70px;
    }
    .report-btn-container {
        justify-content: center;
    }

    #report-btn, #cancel-btn {
        width: 50%;
    }

}
